.pokemon-pane {
	display: inline-block;
	width: 48%;
	margin: auto;
}
.results-pane {
	height: 15%;
}
#results > h3 {
	margin: 0px;
}
.results-list {
	display: inline-block;
	width: 48%;
	margin: 0px;
	padding: 0px;
}
li {
	list-style-type: none;
	display: inline;
}
.results-move-name, .results-move-damage {
	text-align: center;
}
.inner-results-container {
	height: 40%;
	width: 40%;
	display: inline-block;
	margin: auto;
}
#p1-pokemon > #type3 {
	visibility: hidden;
}
#p2-pokemon > #type3 {
	visibility: hidden;
}
thead tr {
	text-align: center;
}
