.pokemon-pane {
	display: inline-block;
	width: 48%;
	margin: auto;
	position: relative;
}
.pokemon-pane h3 {
	margin-top: 4px;
	margin-bottom: 8px;
}
.pokemon-header > h3 {
	margin-top: 4px;
	margin-bottom: 8px;
	display: inline;
	width: 10%;
}
.field-pane {
	display: inline-block;
	width: 30%;
	margin: auto;
	margin-top: 8px;
	text-align: center;
}
#field-details {
	width: 20%;
}
.results-pane {
	height: 15%;
}
#results > h3 {
	margin: 0px;
}
.results-list {
	display: inline-block;
	width: 48%;
	margin: 0px;
	padding: 0px;
}
li {
	list-style-type: none;
	display: inline;
}
.results-move-name, .results-move-damage {
	text-align: center;
}
.inner-results-container {
	height: 40%;
	width: 40%;
	display: inline-block;
	margin: auto;
}
#p1-pokemon > #type3 {
	visibility: hidden;
}
#p2-pokemon > #type3 {
	visibility: hidden;
}
thead tr {
	text-align: center;
}
/* Import Styling */
.import-div {
	width: 275px;
	height: 300px;
	text-align: center;
	border: 2px solid;
	border-radius: 10px;
	padding: 2px;
	background-color: white;
	z-index: 1;
	position: absolute;
	top: 0%;
	left: 25%;
}
.import-textarea {
	width: 265px;
	height: 220px;
	resize: none;
}
.importdatatype-input {
	font-size: 75%;
}
.importdatatype-input > input {
	height: 8px;
	width: 8px;
}

